/* Importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Reset general */
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


/* HEADER */
.bg-primary {
    background-color: #a1b79c !important;
    padding: 2rem;
}
  

.container h2 {
    color: rgb(255, 255, 255);
}

.list-unstyled {
    display: flex;
    list-style: none;
}

.list-unstyled li {
    margin-left: 10px;
}

.list-unstyled li a {
    text-decoration: none;
    color: white;
}

.col2 {
  width: 500px;
}

.mr-2 {
  width: 40px;
}  
/* MAIN */

img:hover{
  transform: scale(1.1);
  cursor:pointer
}



.text-center{
  display: flex;
  justify-content: center;
}

.text-muted {
  color: #f58462 !important;
}

p {
  line-height: 1.6;
}


ul.options {
  list-style: none;
  background-color: white;

}

ul.options li {
  padding: 8px 0;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: center;
}


ul.options li:hover {
  background-color: #a1b79c;
  cursor: pointer;
}

.mt-4{
  display: flex;

}

.mb-5 {
  width: 50%;
  padding: 20px;
  background-color: rgb(249, 249, 249);
}

